In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read in your file using pandas
data = pd.read_csv('avocado.csv')

In [3]:
# What does our data look like?
data.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [4]:
# How many rows/columns do we have?
data.shape

(18249, 14)

In [6]:
# What data types do we have?
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18249 entries, 0 to 18248
Data columns (total 14 columns):
Unnamed: 0      18249 non-null int64
Date            18249 non-null object
AveragePrice    18249 non-null float64
Total Volume    18249 non-null float64
4046            18249 non-null float64
4225            18249 non-null float64
4770            18249 non-null float64
Total Bags      18249 non-null float64
Small Bags      18249 non-null float64
Large Bags      18249 non-null float64
XLarge Bags     18249 non-null float64
type            18249 non-null object
year            18249 non-null int64
region          18249 non-null object
dtypes: float64(9), int64(2), object(3)
memory usage: 1.9+ MB

In [ ]:
# What are some good questions to ask about this data set?

In [7]:
# What are the unique years?
data['year'].unique()

array([2015, 2016, 2017, 2018])

In [8]:
# How many regions are in this dataset?

data['region'].nunique()

54

In [9]:
# What are the names of the unique regions?
data['region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'TotalUS', 'West', 'WestTexNewMexico'], dtype=object)

In [10]:
# Hmmm. Do you see anything that might scew your results?

# totalus? West? California? SouthCarolina?

In [14]:
# What about the total US? What does that look like?

total_us = data.loc[data["region"] == 'TotalUS']
total_us

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
2652,0,2015-12-27,0.95,27297983.67,9626901.09,10197890.05,1184340.09,6288852.44,4850404.09,1252626.31,185822.04,conventional,2015,TotalUS
2653,1,2015-12-20,0.98,25083647.17,8710021.76,9329861.85,1201020.01,5842743.55,4618389.66,1025048.77,199305.12,conventional,2015,TotalUS
2654,2,2015-12-13,0.93,28041335.38,9855053.66,10805838.91,1016163.17,6364279.64,4964462.13,1371440.28,28377.23,conventional,2015,TotalUS
2655,3,2015-12-06,0.89,28800396.57,9405464.36,12160838.62,931830.63,6302262.96,5005077.36,1233956.21,63229.39,conventional,2015,TotalUS
2656,4,2015-11-29,0.99,22617999.38,8094803.56,9003178.41,731008.41,4789009.00,3901953.04,856560.34,30495.62,conventional,2015,TotalUS
2657,5,2015-11-22,0.96,25114228.11,8571849.80,10389879.59,804662.83,5347835.89,4178583.45,1137229.84,32022.60,conventional,2015,TotalUS
2658,6,2015-11-15,0.92,28597756.27,9907981.27,11699787.51,815641.54,6174345.95,4854619.04,1283546.73,36180.18,conventional,2015,TotalUS
2659,7,2015-11-08,0.97,28485715.97,9991330.31,12199657.40,1143214.59,5151513.67,4058500.97,1027701.97,65310.73,conventional,2015,TotalUS
2660,8,2015-11-01,0.97,31047484.27,10138703.85,14229286.82,1410928.18,5268565.42,3966597.25,1246220.37,55747.80,conventional,2015,TotalUS
2661,9,2015-10-25,1.04,26240072.11,8683958.80,11410478.34,1188118.95,4957516.02,3918658.43,999727.70,39129.89,conventional,2015,TotalUS
2662,10,2015-10-18,0.99,29375123.60,9162094.14,14082539.61,1220251.19,4910238.66,3930198.18,952191.42,27849.06,conventional,2015,TotalUS
2663,11,2015-10-11,1.00,29216198.15,8828340.53,13326573.45,1614282.73,5447001.44,4153477.60,1221305.29,72218.55,conventional,2015,TotalUS
2664,12,2015-10-04,1.02,28243505.52,8353619.97,13775651.69,1209045.07,4905188.79,3664890.84,1189350.26,50947.69,conventional,2015,TotalUS
2665,13,2015-09-27,1.03,27753508.14,8454208.80,13819912.63,1061979.37,4417407.34,3476492.68,886423.93,54490.73,conventional,2015,TotalUS
2666,14,2015-09-20,1.02,29569086.56,9422275.27,13846044.56,1112405.42,5188361.31,3938274.51,1183732.08,66354.72,conventional,2015,TotalUS
2667,15,2015-09-13,1.03,31245835.65,9875018.48,14888077.69,1118988.92,5363750.56,4072661.53,1226810.47,64278.56,conventional,2015,TotalUS
2668,16,2015-09-06,1.02,33526480.08,12569277.14,14245598.38,1129771.19,5581833.37,4363707.93,1184888.95,33236.49,conventional,2015,TotalUS
2669,17,2015-08-30,1.07,29761638.48,11650976.87,11995960.83,1060352.53,5054348.25,4316352.47,685816.37,52179.41,conventional,2015,TotalUS
2670,18,2015-08-23,1.08,29699845.61,11283021.31,12551529.70,909284.22,4956010.38,4318010.60,612362.43,25637.35,conventional,2015,TotalUS
2671,19,2015-08-16,1.05,31936856.18,12680252.48,12998327.25,1143364.58,5114911.87,4342839.06,703542.10,68530.71,conventional,2015,TotalUS
2672,20,2015-08-09,1.05,33254911.87,13003371.07,13926692.62,1014520.88,5310327.30,4391461.66,888237.91,30627.73,conventional,2015,TotalUS
2673,21,2015-08-02,1.09,30358467.88,12115233.76,12219014.12,984702.75,5039517.25,4322985.19,689175.80,27356.26,conventional,2015,TotalUS
2674,22,2015-07-26,1.07,30652211.08,12196225.93,12009228.05,1017157.74,5429599.36,4627251.87,779807.55,22539.94,conventional,2015,TotalUS
2675,23,2015-07-19,1.07,32324647.66,12742760.17,12605457.17,1154897.34,5821532.98,4757798.96,1013834.06,49899.96,conventional,2015,TotalUS
2676,24,2015-07-12,1.07,31660031.68,12384449.40,12403360.20,980361.75,5891860.33,5067198.34,796786.14,27875.85,conventional,2015,TotalUS
2677,25,2015-07-05,1.04,37943670.34,15643939.37,14213650.06,1342465.95,6743614.96,5803954.33,905204.55,34456.08,conventional,2015,TotalUS
2678,26,2015-06-28,1.06,32408705.70,13299568.71,11505999.24,1045832.54,6557305.21,5690216.31,846752.40,20336.50,conventional,2015,TotalUS
2679,27,2015-06-21,1.02,35734613.90,14699604.93,13244466.60,1326422.56,6464119.81,5517909.51,898027.46,48182.84,conventional,2015,TotalUS
2680,28,2015-06-14,0.98,37026085.75,16383685.07,12821015.03,1085081.61,6736304.04,5893641.72,822399.78,20262.54,conventional,2015,TotalUS
2681,29,2015-06-07,1.00,36549995.66,16529797.60,12582265.21,1144715.95,6293216.90,5304562.91,943995.95,44658.04,conventional,2015,TotalUS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17479,35,2017-04-30,1.68,1248175.29,199039.61,421709.78,5187.46,622238.44,400529.93,221708.51,0.00,organic,2017,TotalUS
17480,36,2017-04-23,1.61,1190461.18,152604.41,347557.13,3245.62,687054.02,460390.87,226663.15,0.00,organic,2017,TotalUS
17481,37,2017-04-16,1.49,1493331.28,176684.11,437947.67,5096.43,873603.07,576538.30,297064.77,0.00,organic,2017,TotalUS
17482,38,2017-04-09,1.43,1387436.32,148803.12,362152.44,8972.11,867508.65,512721.31,354787.34,0.00,organic,2017,TotalUS
17483,39,2017-04-02,1.42,1492167.41,183101.86,430841.87,3767.76,874455.92,557296.92,317159.00,0.00,organic,2017,TotalUS
17484,40,2017-03-26,1.29,1581127.36,160491.66,355541.13,3888.05,1061206.52,586139.54,475066.98,0.00,organic,2017,TotalUS
17485,41,2017-03-19,1.50,1284018.65,172196.56,411359.03,3304.62,697158.44,486101.39,211057.05,0.00,organic,2017,TotalUS
17486,42,2017-03-12,1.38,1337596.89,152896.45,330081.75,3188.52,851430.17,491035.95,360394.22,0.00,organic,2017,TotalUS
17487,43,2017-03-05,1.16,1619398.24,184006.16,374220.48,2542.94,1058628.66,497098.27,561530.39,0.00,organic,2017,TotalUS
17488,44,2017-02-26,1.21,1436663.15,150448.17,368526.18,3747.77,913941.03,505040.30,408900.73,0.00,organic,2017,TotalUS
17489,45,2017-02-19,1.31,1634877.11,250591.21,632101.53,3295.09,748889.28,433926.87,314962.41,0.00,organic,2017,TotalUS
17490,46,2017-02-12,1.41,1060775.98,136636.34,297764.40,3486.20,622889.04,410668.26,212220.78,0.00,organic,2017,TotalUS
17491,47,2017-02-05,1.36,1015621.03,136100.39,314011.26,2238.78,563270.60,342705.32,220565.28,0.00,organic,2017,TotalUS
17492,48,2017-01-29,1.43,953206.10,131808.29,292584.44,3524.96,525288.41,346391.91,178896.50,0.00,organic,2017,TotalUS
17493,49,2017-01-22,1.37,994282.98,115700.02,281786.33,6707.82,590088.81,401805.90,188282.91,0.00,organic,2017,TotalUS
17494,50,2017-01-15,1.44,975724.28,121132.79,280287.84,8750.08,565553.57,400292.46,165261.11,0.00,organic,2017,TotalUS
17495,51,2017-01-08,1.43,990721.83,117721.87,283532.68,8697.35,580769.93,379088.19,201681.74,0.00,organic,2017,TotalUS
17496,52,2017-01-01,1.48,808971.88,99820.77,273329.61,4425.75,431395.75,273456.00,157939.75,0.00,organic,2017,TotalUS
18213,0,2018-03-25,1.55,1559967.20,121007.94,342853.10,1070.24,1093861.09,902774.79,190941.84,144.46,organic,2018,TotalUS
18214,1,2018-03-18,1.54,1675804.22,170801.85,444949.69,1045.38,1058651.50,837351.85,221129.46,170.19,organic,2018,TotalUS
18215,2,2018-03-11,1.52,1664234.88,129169.72,408763.50,1401.87,1124621.50,944572.50,180049.00,0.00,organic,2018,TotalUS
18216,3,2018-03-04,1.52,1634430.77,142345.03,390129.50,1225.97,1099871.68,831885.50,267818.31,167.87,organic,2018,TotalUS
18217,4,2018-02-25,1.57,1459852.55,122912.97,340374.83,1063.32,994471.50,765056.82,229158.56,256.12,organic,2018,TotalUS
18218,5,2018-02-18,1.52,1814929.97,246515.35,680037.45,1905.46,886241.96,783017.98,103184.01,39.97,organic,2018,TotalUS
18219,6,2018-02-11,1.56,1317000.47,98465.26,270798.27,1839.80,945638.02,768242.42,177144.00,251.60,organic,2018,TotalUS
18220,7,2018-02-04,1.53,1384683.41,117922.52,287724.61,1703.52,977084.84,774695.74,201878.69,510.41,organic,2018,TotalUS
18221,8,2018-01-28,1.61,1336979.09,118616.17,280080.34,1270.61,936859.49,796104.27,140652.84,102.38,organic,2018,TotalUS
18222,9,2018-01-21,1.63,1283987.65,108705.28,259172.13,1490.02,914409.26,710654.40,203526.59,228.27,organic,2018,TotalUS
18223,10,2018-01-14,1.59,1476651.08,145680.62,323669.83,1580.01,1005593.78,858772.69,146808.97,12.12,organic,2018,TotalUS
18224,11,2018-01-07,1.51,1517332.70,129541.43,296490.29,1289.07,1089861.24,915452.78,174381.57,26.89,organic,2018,TotalUS

In [11]:
# What is the total sum of the large bags sold?

data['Large Bags'].sum()

991615770.5500001

In [16]:
# How many large bags were sold in the 'Total US' region?
total_us['Large Bags'].sum()

373584293.73

In [17]:
# Total US might scew our results so lets isolate the rest of the data
# f.loc[df['column_name'] != some_value]

rest = data.loc[data['region'] != 'TotalUS']

In [18]:
rest.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [19]:
# did it work? lets check
rest['region'].unique()

array(['Albany', 'Atlanta', 'BaltimoreWashington', 'Boise', 'Boston',
       'BuffaloRochester', 'California', 'Charlotte', 'Chicago',
       'CincinnatiDayton', 'Columbus', 'DallasFtWorth', 'Denver',
       'Detroit', 'GrandRapids', 'GreatLakes', 'HarrisburgScranton',
       'HartfordSpringfield', 'Houston', 'Indianapolis', 'Jacksonville',
       'LasVegas', 'LosAngeles', 'Louisville', 'MiamiFtLauderdale',
       'Midsouth', 'Nashville', 'NewOrleansMobile', 'NewYork',
       'Northeast', 'NorthernNewEngland', 'Orlando', 'Philadelphia',
       'PhoenixTucson', 'Pittsburgh', 'Plains', 'Portland',
       'RaleighGreensboro', 'RichmondNorfolk', 'Roanoke', 'Sacramento',
       'SanDiego', 'SanFrancisco', 'Seattle', 'SouthCarolina',
       'SouthCentral', 'Southeast', 'Spokane', 'StLouis', 'Syracuse',
       'Tampa', 'West', 'WestTexNewMexico'], dtype=object)